@import "../../../styles/variables.scss";

.counter {
    display: flex;

    &>button {
        min-width: 40px;
        min-height: 40px;
        border: 1px solid $grey;

        font-size: 24px;
        color: $secondary;

        &:active{
            background-color: $light_grey2;
        }
    }

    &>h2 {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 40px;
        min-height: 40px;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        padding: 0 5px;
        box-sizing: border-box;
        
        font-weight: 400;
    }
}