// break points

$mp1: 1199.98px;
$mp2: 1023.98px;
$mp3: 991.98px;
$mp4: 767.98px;
$mp5: 479.98px;
$mp6: 399.98px;

// colors

$primary: #C90000;
$secondary: #0F0F0F;
$text: #0F0F0F99;
$light: #fff;
$primary_dark: #750000;
$shadow: 0px 0px 20px 0px #0000001A;
$shadow_hover: 0px 2px 15px rgba(0, 0, 0, 0.25);
$grey: #A1A1A1;
$light_grey: #FAFAFA;
$light_grey2: #D5D6D4;
