@import "../../../../styles/variables.scss";

.dropdown {
    width: 100%;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        padding: 10px 0;
        cursor: pointer;
    }

    &__content {
        overflow: hidden;
        transition: 0.5s;
    }
}