@import "../../../styles/variables.scss";

.select {

    &>button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &>div {
        position: absolute;
        z-index: 2;
        top: calc(100% + 10px);
        left: 0;

        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        background-color: $light;

        display: flex;
        flex-direction: column;
        gap: 5px;

        &>button{
            width: 100%;
            padding: 10px;

            font-size: 16px;
            font-weight: 500;
            color: $secondary;
        }
    }
}