@import "../../../styles/variables.scss";

.wrapper{

    &__page{
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height: calc(100vh - 30px);

        padding: 15px 15px 15px 115px;

        @media(max-width: $mp4){
            padding-left: 90px;
        }

        main{
            flex: 1 1 auto;
        }
    }
}